<html>
    <title>表单</title>
    <body>
        <form id="submit_form" action="{:url('index/test_token/check')}" method="POST">
            <input type='text' name="user_name" value="" />
            <input type='password' name='password' />
            {:token()}
            <input type="hidden" name="__form_verify__" value="{$form_verify}" />
            <a href="javascript:void(0)" onclick="doSubmit()">OK</a>
        </form>
    </body>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function doSubmit(){
            var msg = '';
            $.ajax({
                url: "{:url('index/test_token/check')}",
                type: "post",
                dataType: "json",
                data: $('#submit_form').serialize(),
                success: function(xhr){
                    for(i in xhr['msg']){
                        msg += xhr['msg'][i];
                    }
                    alert(msg);
                    // var token = xhr.getResponseHeader("token"); // 将success 替换成 complete后才会生效，否则使用下面的方式
                    var token = xhr['token'];
                    if (token) {
                        $("input[name='__token__']").val(token);
                    }
                    
                }
            });
        }

    </script>
</html>